<div class="col-sm-12 col-lg-4 mb-3">
  <div id="match-id-<%= match.id %>">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= link_to match.title, '#' %>
          </h4>
          <div class='ms-auto'>
           <div class='edit-delete-wrapper'>
            <%= link_to '#', class: "link-button", id: 'button-edit-#{match.id}' do %>
              編集
            <% end %>     
            <%= link_to '#', class: "link-delete-button", id: 'button-delete-#{match.id}', method: :delete, data: {confirm: ''} do %>
              削除
            <% end %>
           </div>
          </div>
        </div>
        <ul class="list-inline">
          <li><i class="bi bi-person"></i><%= match.user.decorate.full_name %></li>
          <li><i class="bi bi-calendar"></i><%= l match.created_at, format: :short %></li>
        </ul>
        <p class="card-text">本文</p>
      </div>
    </div>
  </div>
</div>
